<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>

  {{ $options := dict "targetPath" "styles/style.css" }}
  {{ $scss := resources.Get "styles/style.scss" }}
  {{ $style := $scss | resources.ExecuteAsTemplate "style-parsed.scss" . | toCSS $options }}
  
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body>
  {{ partial "header" . }}

  {{ template "main" . }}
  <br>

  <!-- sets optimal width for assets with cld-responsive class -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.13.0/cloudinary-core-shrinkwrap.min.js"></script>
  <script>
    var cl = cloudinary.Cloudinary.new({cloud_name: 'poslovnimediji'})
    cl.config({
      responsive_use_breakpoints: 'true'
    })
    cl.responsive()
  </script>
</body>
</html>
